.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  background-color: #2090e8;
}

.header__menu {
  display: flex;
  justify-content: space-between;

  width: 450px;
}

.header__item {
  font-family: 'Roboto';

  text-decoration: none;
  color: #ffffff;

  font-size: 18px;
}

.header__item:hover {
  text-decoration: underline;
}
